<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Posts</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.all.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Blog Posts</h1>
    <% blogs.forEach(blog => { %>
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="card-title"><%= blog.title %></h2>
      <p class="card-text"><%= blog.body %></p>
      <p class="card-text">Read Count: <%= blog.readCount %></p>
      <p class="card-text">Author: <%= blog.author.firstName %> <%= blog.author.lastName %></p>
      <!-- Updated Read More button -->
      <a href="/blogs/<%= blog.id %>" class="btn btn-primary">Read More</a>
    </div>
    
    <div class="card-footer text-muted">
      <i class="far fa-clock"></i> <%= blog.createdAt %> 
    </div>
  </div>
<% }) %>

    </div>
</div>

</body>
</html>
