<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Posts</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awespme.all.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Blog Posts</h1>
    <<% blogs.forEach(blog => { %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= blog.title %></h5>
      <p class="card-text"><%= blog.body %></p>
      <p class="card-text">Read Count: <%= blog.readCount %></p>
      <p class="card-text">Author: <%= blog.author.firstName %> <%= blog.author.lastName %></p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
    <div class="card-footer text-muted">
      <i class="far fa-clock"></i> <%= blog.createdAt %> <!-- Assuming createdAt is the creation date -->
    </div>
  </div>
<% }) %>

    </div>
</div>

</body>
</html>
